@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}
